@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

body{
    background-color: white;
    overflow-x: hidden;
    height: 100vh;
}

.scrollbar-none::-webkit-scrollbar{
    width: 0px;
}


::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(79, 255, 79);
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(205, 205, 205); 
  border-radius: 2px;
}

.Custom-truncate{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number of lines you want to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/** Moving Notification**/
.Moving-notification{
    position: fixed;
    left: -100%;
    width: 50%;
    top: 10%;
    animation: moveInOut 30s linear infinite;
}

/**Bot Animation*/
.bot-motion{
    animation: Botanimation 2s infinite;
}

@keyframes Botanimation {
    0%{
        transform: translateY(-15%);
    } 
    50%{
        transform: translateY(15%);
    }
    100%{
        transform: translateY(-15%);
    }
    
}

/*Loader style*/
.loader-style{
    animation: load 1s linear infinite;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}